body{
font-family:inherit;
	display:flex;
	justify-content:center;
	align-items:center;
	height:100vh;
	background:#FFD773;
}

.container{
	display:flex;
	gap:50px;
	align-items:center;

}

.card{
	width:260px;
	background:#F0D99E;
	border-radius:20px;
	overflow:hidden;
	box-shadow:0 50px 50px rgb(0, 0, 0, 0.1);
	text-align:center;
	padding-bottom:10px;

}

.banner{
	height:100px;
	background:#E3C268;
	background:#E3C268;
	background:#EDB31F;
}

.avatar{
	width:80px;
	height:80px;
	background:#D9B55D;
	border:5px solid white;
	border-radius:50%;
	margin:-40px auto 10px;
}

.controls{
	display: flex;
	flex-direction:column;
	gap:30px;

}

input{
	padding:10px;
	border-radius:8px;
	border: 3px solid #ccc;


}

body.dark-mode{
	background:#FFD773;
	color:white;
}

body.dark-mode .card{
	background-color:black;

}

body.dark-mode .banner{
	background:#EDB31F; 
}

body.dark-mode .avatar{
	background:#D9B55D;
 }

body{
	font-family:sans-serif;
	input, select, button{
		font-family:align-items;
	}